$light-blue: #E1E9ED;
$purple: #7A3053;
$black: #112433;
$green: #369B79;
$white: #fff;
$light-grey: #80878D;
$confirm-button: #517A38;
$confirm-off: #B9C9B0;
$confirm-hover: #3D692A;
$red: #CD1719;


